<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-XT2XTRHBMB"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-XT2XTRHBMB');
  </script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>There's Something About AI</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <div class="header-content">
      <h1>There's Something About AI/h1>
      <% if (user) { %>
        <div class="welcome-message">Welcome, <%= user.firstName %>!</div>
      <% } %>
    </div>
  </header>
  
  <nav>
    <ul>
      <% if (user) { %>
        <li><a href="/">Home</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/instructions">Instructions</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/roadmap">Roadmap</a></li>
        <li><a href="/logout">Logout</a></li>
      <% } else { %>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/instructions">Instructions</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/roadmap">Roadmap</a></li>
      <% } %>
    </ul>
  </nav>
  
  <div class="container">
    <%- body %>
  </div>
  
  <footer>
    <p>&copy; 2025 There's Something About AI - Powered by Dreams</p>
  </footer>
</body>
</html>